:root {
  --primary: rgb(64, 166, 255);
  --secondary: rgb(188, 224, 255);
  --app-bg: rgb(234, 245, 255);
  --text: black;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --secondary: black;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

a {
  text-decoration: none;
}

button {
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

:visited {
  color: inherit;
}

#root {
  background-color: var(--secondary);
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 50px;
  min-height: 100px;
  margin-bottom: 50px;
}

.user {
  margin-left: auto;
  position: relative;
}

.active-user {
  display: flex;
  align-items: center;
  background-color: var(--app-bg);
  padding: 10px 20px;
  border-radius: 30px;
  position: absolute;
  right: 0px;
  transition: 0.3s all ease-in-out;
}

.active-user:hover img {
  margin-right: 14px;
}

.active-user:hover {
  right: -3px;
}

.active-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  transition: 0.3s all ease-in-out;
}

.active-user span {
  text-wrap: nowrap;
  font-weight: 700;
}

.user-guest {
  border: none;
  display: flex;
  position: relative;
  top: 30px;
  right: 0;
}

.user-guest button {
  display: flex;
  justify-content: flex-start;
  /* width: 180px; */
  font-size: 1rem;
  font-weight: 600;
  background: none;
  padding: 5px;
  padding-right: 30px;
  border: 2px solid var(--primary);
}

.user-guest button:hover {
  padding-right: 15px;
}

.user-guest span {
  transition: 0.2s ease-in-out;
  text-wrap: nowrap;
}

.user-guest button:hover span:first-child {
  margin-right: 15px;
}

.app-container {
  background-color: rgb(234, 245, 255);
  width: 450px;
  height: 700px;
  margin: auto;
  border-radius: 10px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}

.subheader,
.form-add-task,
.task-actions {
  position: sticky;
  top: 0;
}

.subtitle {
  font-size: 1.8rem;
  background-color: var(--primary);
  padding: 20px;
  color: white;
}
form {
  width: 100%;
}

form input {
  font-size: 1.2rem;
  color: rgb(20, 116, 200);
  border: none;
  padding: 10px;
  margin: 0px 25px;
  border-radius: 10px;
  height: 50px;
  width: 80%;
}

input:focus {
  outline: 1px solid var(--primary);
}

::placeholder {
  color: var(--secondary);
  font-weight: 100;
}

.form-add-task {
  display: flex;
  align-items: center;
  padding: 10px 0 20px;
  top: 73px;
  background-color: var(--app-bg);
}

.task-actions {
  display: flex;
  justify-content: space-between;
  padding: 0px 26px 10px;
  border-bottom: 1px solid rgba(190, 226, 255, 0.447);
  top: 160px;
  background-color: var(--app-bg);
  box-shadow: 0 2px 2px -2px rgb(190, 190, 190);
}

.task-sortby select,
.task-actions span {
  cursor: pointer;
}

.task-actions span:hover {
  color: #5f5f5f;
}

.form-edit-task {
  display: flex;
  align-items: center;
  margin: 20px auto 20px;
}

.submit {
  font-size: 50px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px 15px 10px 1px;
  border: none;
  background-color: var(--primary);
  cursor: pointer;
  color: white;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s ease-in-out;
}

.submit::before {
  content: "+";
  position: absolute;
  top: -4%;
}

.submit:hover {
  background-color: rgb(106, 185, 255);
}
.submit:active {
  background-color: rgb(52, 160, 255);
}

.message-add-items {
  font-weight: 600;
  margin-top: 40px;
  font-style: italic;
}

.message-completed {
  padding: 15px 0;
  border-bottom: 1px solid rgba(190, 226, 255, 0.447);
}

/* USERS SECTION */

.users-add-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(190, 226, 255, 0.447);
  padding-bottom: 20px;
}

.form-add-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px;
}

.form-add-user input {
  color: black;
  font-weight: 200;
  height: 40px;
}

.form-add-user ::placeholder {
  color: rgb(205, 205, 205);
  font-weight: 100;
}

.form-add-user button {
  display: none;
}

.add-new {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-add-user,
.btn-add-new-user {
  color: white;
  background-color: var(--primary);
}

.btn-add-user:hover,
.btn-add-new-user:hover {
  background-color: rgb(106, 185, 255);
}

.cancel-add-user {
  margin-right: 10px;
  background-color: #ffffff;
}

.cancel-add-user:hover {
  color: rgb(76, 76, 76);
  background-color: #f7f7f7;
}

.user-add-cancel {
  margin-left: auto;
  margin-right: 40px;
}

.user-item:first-child a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: fit-content;
  margin: 20px auto 20px;
  border: none;
}

.user-item:first-child img {
  margin: 5px;
  width: 60px;
  height: 60px;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid rgba(190, 226, 255, 0.447);
}

.user-item {
  border-bottom: 1px solid rgba(190, 226, 255, 0.447);
  transition: 0.3s ease-in-out;
}

.user-item:hover {
  background-color: rgb(228, 241, 253);
}

.item:last-child,
.user-item:last-child {
  border-bottom: none;
}

.user-item:first-child {
  border: none;
}

.user-item:first-child:hover {
  background: none;
}

.user-item a {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  min-height: 70px;
}

.user-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.delete-btn {
  /* color: ; */
  margin-left: auto;
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}

.delete-btn button {
  background-color: white;
  z-index: 100;
}

.delete-btn::before {
  content: "";
  background-color: var(--primary);
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  z-index: 0;
}

.delete-btn:hover::before {
  width: 100%;
}

.delete-btn button:hover {
  color: white;
  background: none;
}

/* .item input {
  margin-right: 40px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
} */
/* .item p {
  color: rgb(20, 133, 232);
  font-size: 1.5rem;
  font-weight: 100;
} */

.todo-item input:checked + p {
  text-decoration: line-through;
}

.todo-item span {
  margin-left: auto;
}

/* .item:first-child {
  border-top: 1px solid rgba(190, 226, 255, 0.447); */
/* } */

/* .btn {
  color: rgb(101, 183, 255);
} */
#footer {
  font-size: 1.2rem;
  /* color: rgb(20, 133, 232); */
  margin-top: auto;
  padding: 40px;
}

.loader {
  height: 1000%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, var(--primary) 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}

/* .delete-btn {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
} */
