:root {
  --primary: #1c93fc;
  --secondary: #bde0ff;
  --app-bg: #eaf5ff;
  --text-default: #000000;
  --border-bottom: #bee2ff72;
  --btn-submit-hover: #6ab9ff;
  --user-item-hover: #e2eefa;
  --theme-switch-left: 50%;
  --theme-switch-right: 5%;
}

.pink-theme {
  --primary: #f33876;
  --secondary: #fbd7dd;
  --app-bg: #fff4f6;
  --text-default: #000000;
  --border-bottom: #ffe4ed;
  --btn-submit-hover: #ff6699;
  --user-item-hover: #ffecef;
  --theme-switch-left: 5%;
  --theme-switch-right: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

a {
  text-decoration: none;
  color: var(--text-default);
}

.btn-theme {
  font-weight: 600;
  color: black;
  width: 100px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: var(--app-bg);
  border-radius: 20px;
}

.btn-theme::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  top: 5px;
  bottom: 5px;
  left: var(--theme-switch-left);
  right: var(--theme-switch-right);
  background-color: var(--primary);
  transition: 0.2s ease-in-out;
}

.blue-theme .transit,
.pink-theme .transit {
  transition: 0.3s ease-in-out;
}

ul {
  list-style-type: none;
}

select:focus {
  outline-color: var(--primary);
}

button {
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  transition: 0.2s ease-in-out;
}

:visited {
  color: inherit;
}

#root {
  background-color: var(--secondary);
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  min-width: 470px;
  max-width: 50%;
  display: flex;
  align-items: center;
  padding: 20px 0 20px;
  min-height: 100px;
  margin: 0 auto 0;
}

.user {
  margin-left: auto;
  position: relative;
}

.user a {
  position: relative;
}

.active-user {
  display: flex;
  align-items: center;
  background-color: var(--app-bg);
  padding: 10px 20px;
  border-radius: 30px;
  position: relative;
  top: 0px;
  right: 0px;
  transition: 0.3s all ease-in-out;
}

.active-user:hover img {
  margin-right: 16px;
}

.active-user:hover {
  right: -4px;
}

.active-user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
  transition: 0.3s all ease-in-out;
}

.active-user span {
  text-wrap: nowrap;
  font-weight: 700;
}

.user-guest {
  border: none;
  display: flex;
  position: relative;
  right: 0;
}

.user-guest button {
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  padding: 5px 30px 5px 5px;
  border: 2px solid var(--primary);
  transition: 0.2s ease-in-out;
}

.user-guest button:hover {
  padding-right: 20px;
}

.user-guest span {
  transition: 0.2s ease-in-out !important;
  text-wrap: nowrap;
}

.user-guest button span:first-child {
  margin-right: 5px;
}

.user-guest button:hover span:first-child {
  margin-right: 15px;
}

.app-container {
  background-color: var(--app-bg);
  width: 470px;
  height: 650px;
  margin: auto;
  border-radius: 10px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}

.subheader,
.task-add-filter {
  position: sticky;
  top: 0;
}

.subtitle {
  font-size: 1.8rem;
  background-color: var(--primary);
  padding: 15px;
  color: white;
}
form {
  width: 100%;
}

.form-add-task input[type="text"] {
  font-size: 1.2rem;
  color: var(--primary);
  border: none;
  padding: 10px;
  margin: 0px 25px;
  border-radius: 10px;
  height: 50px;
  width: 80%;
}

input[type="text"]:focus {
  outline: 1px solid var(--primary);
}

::placeholder {
  color: var(--secondary);
  font-weight: 100;
}

.task-add-filter {
  background-color: var(--app-bg);
  top: 63px;
}

.form-add-task {
  display: flex;
  align-items: center;
  padding: 10px 0 10px;
}

.task-sort-clear {
  display: flex;
  justify-content: space-between;
  padding: 0px 26px 10px;
  border-bottom: 1px solid var(--border-bottom);
  box-shadow: 0 2px 2px -2px #c5c5c5;
}

.task-sortby select,
.task-sort-clear span {
  cursor: pointer;
}

.task-sort-clear span:hover {
  color: #5f5f5f;
}

.submit {
  font-size: 50px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px 15px 10px 1px;
  border: none;
  background-color: var(--primary);
  cursor: pointer;
  color: white;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-add-task .submit::before {
  content: "+";
  position: absolute;
  top: -4%;
}

.submit:hover {
  background-color: var(--btn-submit-hover);
}
.submit:active {
  background-color: var(--primary);
}

.message-add-items {
  font-weight: 600;
  margin-top: 40px;
  font-style: italic;
}

.message-completed {
  padding: 15px 0;
  border-bottom: 1px solid var(--border-bottom);
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid var(--border-bottom);
}

.todo-item input:checked {
  accent-color: var(--primary);
}

.todo-item input:checked + p {
  text-decoration: line-through;
}

.todo-app .items {
  margin-top: 10px;
}

.todo-item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 30px;
  min-height: 80px;
  text-align: left;
  overflow: hidden;
}

.todo-item input[type="checkbox"] {
  min-width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.todo-item p {
  color: var(--primary);
  margin-right: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  word-break: break-word;
}

.todo-item .task-actions {
  margin-left: auto;
}

.todo-item span {
  cursor: pointer;
  font-weight: 500;
  margin-left: 20px;
}

.todo-item span:hover {
  color: #5f5f5f;
}

.form-edit-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
}

.form-edit-task button {
  font-size: 20px;
  height: 35px;
  width: 35px;
  padding: 5px;
  margin-right: 10px;
}

.form-edit-task input {
  font-size: 1.2rem;
  color: var(--primary);
  border: none;
  padding: 10px;
  margin: 0px 10px 0 0;
  border-radius: 10px;
  height: 40px;
  width: 85%;
  outline: 1px solid var(--primary);
}

.btn-cancel-edit {
  font-size: 20px;
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}

.btn-cancel-edit:hover {
  color: #4c4c4c;
  background-color: #f7f7f7;
}

/* USERS SECTION */

.users-add-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-bottom);
  padding-bottom: 20px;
}

.form-add-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px;
}

.form-add-user input {
  font-size: 1.1rem;
  border: none;
  padding: 10px;
  margin: 0px 25px;
  border-radius: 10px;
  width: 85%;
  color: var(--text-default);
  font-weight: 400;
  height: 40px;
}

.form-add-user ::placeholder {
  color: #bcbcbc;
  font-weight: 100;
}

.form-add-user button {
  display: none;
}

.add-new {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-add-user,
.btn-add-new-user {
  color: white;
  background-color: var(--primary);
}

.btn-add-user:hover,
.btn-add-new-user:hover {
  background-color: var(--btn-submit-hover);
}

.btn-add-user:active {
  background-color: var(--primary);
}

.cancel-add-user {
  margin-right: 10px;
  background-color: #ffffff;
}

.cancel-add-user:hover {
  color: #4c4c4c;
  background-color: #f7f7f7;
}

.user-add-cancel {
  margin-left: auto;
  margin-right: 40px;
}

.user-item:first-child a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: fit-content;
  margin: 20px auto 20px;
  border: none;
}

.user-item:first-child img {
  margin: 5px;
  width: 60px;
  height: 60px;
}

.user-item {
  border-bottom: 1px solid var(--border-bottom);
}

.user-item:hover {
  background-color: var(--user-item-hover);
  transition: 0.2s ease-in-out;
}

.item:last-child,
.user-item:last-child {
  border-bottom: none;
}

.user-item:first-child {
  border: none;
}

.user-item:first-child:hover {
  background: none;
}

.user-item a {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  min-height: 70px;
}

.user-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.delete-btn {
  margin-left: auto;
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}

.delete-btn button {
  background-color: var(--secondary);
  z-index: 10;
  transition: 0.2s ease-in-out;
}

.delete-btn::before {
  content: "";
  background-color: var(--primary);
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  z-index: 0;
}

.delete-btn:hover::before {
  width: 100%;
}

.delete-btn button:hover {
  color: white;
  background: none;
}

#footer {
  font-size: 1rem;
  padding: 20px 0;
}

.loader {
  height: 1000%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, var(--primary) 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  animation: rotate 1s infinite;
}
@keyframes rotate {
  to {
    transform: rotate(0.5turn);
  }
}
